@font-face {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: normal;
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background-color: #fffff7;
}

.room-name {
  margin: 0 auto;
  font-size: 1.2em;
  padding: 5px;
  background: #f8c009;
}

.room-1st-image {
  margin: 0 auto;
  height: 10em;
}

.room-1st-image img{
  width: 100%;
  height: 100%;
  display: inline-block;
}

table {
  margin-top: 1em;
}

table td {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: text-top;
  padding: 0;
  display: inline-block;
}

table img {
  width: 1.5em;
}


.div-line {
  clear: both;
  background: #cccccc;
  text-align: center;
  height: 1.5em;
}

.price {
  font-size: 1.5em;
  color: #eb6100;
  text-align: center;
  margin-top: 1em;
  /*
  float: left;
  margin-left: 1em;
  */
}

.book-button {
  float: right;
  margin-right: 4em;
  width: 2.5em;
  margin-top: 1em;
}

.book-button img{
  width: 100%;
  display: inline-block;
}


@media only screen and (max-width : 320px) {
}

@media only screen and (min-width : 321px) {
}


