@font-face {
    font-family: 'Droid Serif', serif;
    src: url('/fonts/DroidSerif.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body, .maincontent, .anchor-head, #anchor-audio, #anchor, #anchor p, #anchor-audio img, 
.anchor-title, .anchor-line, #a-circle, #a-line, #a-line, .device, .swiper-slide img,
.swiper-slide p {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body { 
  width: 100%;
  height: 100%;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  //color : #000; 
  //text-align: center;
  background: url('http://mxweixin.dreamland360.com/sites/all/modules/wechat_ajax/imgs/yyhc_bj_low.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.maincontent {
  margin: 0 auto;
  margin-top: 15%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.device {

  clear: both;
  width: 100%;
  //margin-left: 8%;
  //margin-right: auto;
  height: 70%;
	overflow:hidden;
  margin-top: 5em;
  position: absolute;
  //position: relative;
  //border: 1px solid #fff;
  //background: #fff;
  //box-shadow: 2px 2px 8px #000;
  //border-radius: 10px;
  padding: 0px;
}

.anchor-head {
  width: 100%;
  margin-left: 10%;
}


#anchor-audio {
  float: right;
  margin-right: 20%;
  //font-size: 1em;
  max-width: 6em;
  width: 5em;
  
  background: url('http://mxweixin.dreamland360.com/sites/all/modules/wechat_ajax/imgs/play_icon1.png') center no-repeat;
  //visibility: visible;
  //padding: 7px;
  //padding: 5px 15px 5px 15px;
  //font-weight: bold;
  //text-align: center;
  //background: #fff;
  //border-radius: 15px;
  visibility: hidden;
  //opacity: 0;
  //transition: opacity 0.5s ease-in-out;
  //-webkit-transition: opacity 0.5s ease-in-out;
  //transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  //-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

#anchor {
  margin-left: -1.1em;
  float: left;
}

#anchor p, #anchor-audio img{
  margin: 0px;
}

.anchor-title {
  padding: 5px;
  background: #fff;
  text-align: center;
  font-size : 0.8em;
  font-weight: bold;
  color: #f292a6;
  border-radius: 15px;
  position: relative;
}


.anchor-title::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.4em solid transparent;
	position: absolute;
}

.anchor-title.top-left::before {
	left: 15px;
	bottom: -15px;
	border-top: 15px solid #fff;
}


.anchor-line {
  clear: both;
  width: 100%;
  margin-top: 2.5em;
  position: relative;
}

#a-circle {
  margin-left: 8%;
  float: left;
  position: relative;
}


#a-line {
  margin-top: 6px;
  width: 75%;
  background-color: #616260;
  height: 5px;
  display: block;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  float: left;
}



/*
img {
border : 0;
max-width: 100%;
height: auto;
width: auto\9;  //ie8 
}
*/

.swiper-slide img {
  margin: 5px;
  display:block;
  background-color: white;
  padding: 8px;
  max-width: 100%;
  width: 15em;
  box-shadow: 2px 2px 8px #000;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin-left: 9%;
}

.swiper-slide p {
  margin: 5px;
  display:block;
  background-color: white;
  max-width: 100%;
  width: 13.5em;
  padding: 8px 8px 8px 12px;
  box-shadow: 2px 2px 8px #000;
  border-radius: 10px;
  text-align: left;
  font-size: 1.1em;
  margin-left: 9%;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	width: 100%;
	height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.swiper-slide {
	/* Specify Slides's Size: */
	width: 100%;
	height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5%;
  width: 100%;
}


.swiper-pagination-switch {
	/* Stylize pagination button: */	
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #bbb;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}

.swiper-active-switch {
	/* Specific active button style: */	
  background: #ff0000;
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}
