@font-face {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    font-style: normal;
}

body, .maincontent, .device, .swiper-slide img, .swiper-slide p {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background: url('http://mxweixin.dreamland360.com/sites/all/modules/wechat_ajax/imgs/zxfw_bj1.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.maincontent {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  padding: 0px;
  overflow: hidden;
}

.wrapper {
  margin-top: 15%;
}

.item {
  margin: 0.5em auto;
  width: 80%;
}

.item img {
  border : 0;
  max-width: 100%;
  height: auto;
}

.pyzxdh {
  margin: 5% auto;
  background: #f3f3f3;
  display: block;
  width: 80%;
  margin-top: 0px;
  border-radius: 5px;
  line-height: 1.8em;
  text-align: justify;
}
@media only screen and (max-width : 320px){
/* Styles */
  .pyzxdh {
    margin: 0 auto;
    width: 90%;
  }
}


