@font-face {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: normal;
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background-color: #eeeeee;
}

.maincontent {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  padding: 0px;
  overflow: hidden;
}

.head {
  width: 100%;
  height: 3em;
  margin-top: 2em;
  float: left;
}

.line1 {
  height: 1em;
  width: 10%;
  float: left;
  background-color: #acacac;
}

.head .title {
  margin: 0;
  padding: 0;
  width: 60%;
  margin-left: 10%;
  position: relative;
  float: left;
  text-align: center;
}

.line2 {
  height: 1em;
  width: 10%;
  float: right;
  background-color: #acacac;
}

.wrapper {
  clear: both;
  position: relative;
}
.item {
  padding: 0;
  margin: 0;
  width:100%;
  max-width: 100%;
  display: block;
}

.item img {
  padding: 0px;
  margin: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}