#mobile-shopping-cart-page .ui-header {
  border-style: none;
}

#mobile-shopping-cart-page .ui-content {
  padding: 7px;
}

#mobile-shopping-cart-page .ui-li-count {
  background-color: #da1011;
}



#list-item-row {
  padding: 7px 5px 7px 5px;
}
#list-item-row h2 {
  width: 8em;
}

#list-item-row .ui-li-count {
  margin-top: 3px;
}

#list-item-row h2 {
  margin-left: 5px;
}

#list-item-row p {
  margin-left: 5px;
  margin-bottom: 2px;
}

#list-item-row .shopping-price {
  color: #fa620e;
  font-size: 0.9em;
}

.checkin-icon {
  margin: 0 0.6em 0 0;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

#btn-checkin {
  float: right;
}

#checkbox-a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  background: #e8e8e8;
}

#checkbox-a .ui-checkbox-on:after {
  background-color: #29A238 !important;
}

#checkbox-label {
  border-width: 0;
  border-style: none;
  font-size: 1.3em;
  color: #29A238;
}

#cart-save {
  background-color: #f6f6f6;
}

#cart-save,
#total,
#btn-checkin {
  color: #CF5A1C;
}

#cart-save,
#total,
#btn-checkin,
#check-in-all {
  font-size: 1em;
}

.cart-save-animation {
 -webkit-animation: color_change 1.5s infinite alternate;
 -moz-animation: color_change 1.5s infinite alternate;  
 animation: color_change 1.5s infinite alternate;   
}

@-webkit-keyframes color_change {
  from { background-color: #f6f6f6; }
  to { background-color: #38C; }
}
@-moz-keyframes color_change {
  from { background-color: #f6f6f6; }
  to { background-color: #38C; }
}
@keyframes color_change {
  from { background-color: #f6f6f6; }
  to { background-color: #38C; }
}

.disable-anchor {
  color: grey;
}

.uncheckmark {
    display:inline-block;
    width: 24px;
    height:24px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.uncheckmark_circle {
    position: absolute;
    width:24px;
    height:24px;
    background-color: #888888;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark {
    display:inline-block;
    width: 24px;
    height:24px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:24px;
    height:24px;
    background-color: #29A238;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}



.liview-li-delete {
 line-height: 2em;
}

.liview-li-delete label {
  float: left;
  vertical-align: middle;
  margin: 0 0.3em 0 0;
}

.liview-li-delete #delete-index {
  margin: 0;
}



#list-item-row .button-plus-minus {

  padding: 0;
  height: 1.7em;
  display: block;
  position: relative;
  width: 6.1em;
  border-color: #fff;
  border: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
	border-radius: 4px;
  margin-left: 8em;
}

.button-plus-minus > .volume-minus {
  position: absolute;
  left: 0;
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;

	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;

  border-color: #fff;
  border-right: 1px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.button-plus-minus > .volume-plus {
  left: 4.3em;
  position: absolute;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;

	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;

  border-color: #fff;
  border-left: 1px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

.button-plus-minus > .volume-minus,
.button-plus-minus > .volume-plus{
  padding: 0;
  width: 1.8em;
  height: inherit;
  vertical-align: middle;
  background-color: #fff;
}

.button-plus-minus > .volume-text {
  padding: 0;
  position: absolute;
  left: 1.8em;
  text-align: center;
  border-width: 0;
  width: 2.5em;
  height: inherit;
  vertical-align: middle;
  background-color: #fff;
}
