#pyment-address .ui-header {
  border-style: none;
}

#pyment-address .ui-content {
  padding: 7px;
}

#check-addr {
  font-size: 1em;
}

#wxpay-send {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  background-color: #6CBD2E;
}

.checkmark {
  float: left;
  position: relative;

  margin: 2.5em 0.5em 1.5em 0;
  width: 20px;
  height: 20px;
  background-color: #eb6864;
  border-radius: 50%;
}

.uncheckmark {
  float: left;
  position: relative;

  margin: 2.5em 0.5em 1.5em 0;
  width: 16px;
  height: 16px;
  border: 2px solid #eb6864;
  border-radius: 50%;
}

#payment-checklist .ui-content {
  padding: 0;
}
#payment-checklist #post-address,
#payment-checklist #merchandise-list {
  padding:0;
}

#payment-checklist #post-address a {
  margin: 1em 0.5em;
  float: left;
}


#payment-checklist #post-address .detail-addr {
  text-decoration: none;
  font-weight: 100;
  color: #000;
  font-size: 0.9em;
  float: left;
  width: 16em;
  margin: 0.3em 0.5em;
}

#payment-checklist #post-address .name-addr {
  text-decoration: none;
  font-weight: 100;
  color: #000;
  font-size: 0.9em;
  float: left;
  margin: 0.5em 0.5em 0;
}

#payment-checklist .merchandise-area {
  margin: 0.5em;
}

#payment-checklist .p-img {
  margin: 0 0.5em; width: 20%; display: block; float: left;
}


#payment-checklist .merchandise-title {
  float: left;
  margin: 0.3em 0.5em;
  width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-price {
  float: left;
  margin: 0.3em 0.5em;
}

#payment-checklist .express-name {
  float: left;
  margin: 0.3em;
}

#payment-checklist .express-fee {
  float: right;
  margin: 0.3em;
}

#payment-checklist .ui-input-text {
  height: 2em;
  width: 5em;
  float: left;
}

#payment-checklist a.points-price {
  text-align: right;
  font-weight: inherit;
  background-color: #fff;
  font-size: 1em;
  margin: 0;
  padding: 0.7em 0.3em;
  color: #CE3E3E;
}

#score-points-listview > li > a .button-plus-minus {
  margin: 0.3em 0 0 2em;
  float: left;

  padding: 0;
  height: 1.7em;
  display: block;
  position: relative;
  width: 6.1em;
  border-color: #fff;
  border: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
	border-radius: 4px;
}

#payment-checklist .button-plus-minus {
  margin-left: 2em;
  margin-top: 0.3em;
  float: left;

  padding: 0;
  height: 1.7em;
  display: block;
  position: relative;
  width: 6.1em;
  border-color: #fff;
  border: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
	border-radius: 4px;
}

.button-plus-minus > .volume-minus {
  position: absolute;
  left: 0;
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;

	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;

  border-color: #fff;
  border-right: 1px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.button-plus-minus > .volume-plus {
  left: 4.3em;
  position: absolute;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;

	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;

  border-color: #fff;
  border-left: 1px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

.button-plus-minus > .volume-minus,
.button-plus-minus > .volume-plus{
  padding: 0;
  width: 1.8em;
  height: inherit;
  vertical-align: middle;
  background-color: #fff;
}

.button-plus-minus > .volume-text {
  padding: 0;
  position: absolute;
  left: 1.8em;
  text-align: center;
  border-width: 0;
  width: 2.5em;
  height: inherit;
  vertical-align: middle;
  background-color: #fff;
}
