@font-face {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: normal;
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background-color: #f5f5f5;
}

.news-title {
  width: 17em;
  text-align: center;
  margin: 0 auto;
}

.news_picture {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.news-content {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.5em;
}

.wechat-service {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  padding-bottom: 15px;
}



@media only screen and (max-width : 320px) {
}

@media only screen and (min-width : 321px) {
}

