@font-face {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: normal;
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background-color: #f5f5f5;
}

.item-user .container-inline {
  float: left;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.item-user img {
  float: left;
  margin-right: 0.5em;
}

ul.title-intro {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.title-intro .first{
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.title-intro .last{
  width: 20em;
}
