@font-face {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: normal;
}

body { 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4 'Droid Serif', serif;
  text-align: center;
  background-color: #f5f5f5;
}

.item-info {
  border-bottom: 12px solid #e0e0e0;
}

.info-text {
  margin: 0 1em 0 1em;
  text-align: left;
  font-size: 1.1em;
}

